/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


/* VARIABLES */

:root {
    /* COLOURS */
    --CREAM: #f6f6d5;
    --PINK: #ffd1e3;
    --GINGER: #f2a448;
    --BROWN: #885113;
    --BLACK: #101013;

    /*  */
    --PADDING: 1rem;
}


/* UTILITY */

.no-wrap {
    white-space: nowrap;
}


/* MAIN */

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    background-color: var(--BROWN);
    color: var(--CREAM);
}


h1 {
    background-color: var(--BROWN);
    text-align: center;
    padding: var(--PADDING);

}

.tagline {
    display: none;
}

nav ul {
    /* ul nested in nav is the flex container, li are the flex items */
    max-height: 2.5rem;
    background-color: var(--GINGER);
    padding: var(--PADDING);
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a:any-link {
    color: inherit;
    text-decoration: none;
}

nav :is(a:hover,
    a:focus,
    a:active) {
    color: var(--PINK);
}


main {
    flex-grow: 1;
}

h2 {
    text-align: left;
    padding: 0.5rem;
}

.grid-container {
    display: grid;

    grid-template-columns: max(85vw);
    margin: 0 7.5vw;
}

.news-item {
    list-style: none;
    display: inline-block;
    min-height: 200px;
    background-color: var(--CREAM);
    border: 1px solid var(--BLACK);
    color: var(--BLACK);
}